* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100dvh;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header {
    background-color: red;
    height: 10%;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header>h1 {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

#placeholder {
    color: black;
    padding: 5px 10px;
    border: 0px solid black;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border-radius: 30px;
}

.ConteinerComidas {
    background-color: rgb(203, 0, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border-radius: 10px;

}

.Pizzas {
    width: 90%;
    margin-top: 20px;
}

.ConteinerComidas>img {
    width: 15%;
}

.imagemDaComida {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
}
.promocao {
    background-color: rgba(0, 255, 255, 0);
    width: 90%;
    margin-top: 20px;
}
.promocao > img {
    width: 100%;
    height: 100%;
}
.imagemDaComida>img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    scale: 1.05;
    height: 100%;
    border-radius: 10px;
}

.EstaPizza>h3 {
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

.EstaPizza {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
}